a {
  text-decoration: none;
}
.linkBut {
  font-family: "Tajawal" sans-serif;
  text-align: center;
  width: fit-content;
  font-weight: 100;
  padding: 10px 30px;
  border-radius: 16px;
  border: 0.2px white solid;
  margin-right: 80px;
  background-color: transparent;
  color: white;
  font-size: 28px;
  position: relative;
  top: 40px;
  transition-duration: 0.45s;
  transition-timing-function: cubic-bezier(0.73, -0.01, 0.31, 1);
  cursor:pointer;
}
.linkBut:hover {
  transform: scale(1.05);
  background-color: white;
  color: black;
}
