.LoadingGif {
 width:200px;
 position:absolute;
 top:60%;
 transform:translateY(-50%);
 font-family:"Tajawal";
 left:47.5%;
 transform:translateX(-50%)
}
.loadingP__container .footer__container {
 display:none
}